target/
!.mvn/wrapper/maven-wrapper.jar
!**/src/main/**/target/
!**/src/test/**/target/

### IntelliJ IDEA ###
.idea/modules.xml
.idea/jarRepositories.xml
.idea/compiler.xml
.idea/libraries/
*.iws
*.iml
*.ipr

### Eclipse ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache

### NetBeans ###
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/
build/
!**/src/main/**/build/
!**/src/test/**/build/

### VS Code ###
.vscode/

### Mac OS ###
.DS_Store

.idea/
pom.xml
INTERESTING SOLUTIONS.md
src/main/java/matrix/workingPeoplesImitation/training
src/main/java/matrix/workingPeoplesImitation/task_297_Serialize_and_Deserialize_Binary_Tree/
src/main/java/matrix/workingPeoplesImitation/task_1155/


# Needs to solve again later
src/main/java/matrix/workingPeoplesImitation/task_1711_Count_Good_Meals
src/main/java/matrix/workingPeoplesImitation/task_931_Minimum_Falling_Path_Sum

# I haven't solved it, but I looked at the solution
src/main/java/matrix/workingPeoplesImitation/task_576_Out_of_Boundary_Paths


# Not yet decided
src/main/java/matrix/workingPeoplesImitation/task_2947_Count_Beautiful_Substrings_I
src/main/java/matrix/workingPeoplesImitation/task_525_Contiguous_Array
src/main/java/matrix/workingPeoplesImitation/task_2271_Maximum_White_Tiles_Covered_by_a_Carpet
src/main/java/matrix/workingPeoplesImitation/task_2110_Number_of_Smooth_Descent_Periods_of_a_Stock
src/main/java/matrix/workingPeoplesImitation/task_110_Balanced_Binary_Tree
src/main/java/matrix/workingPeoplesImitation/task_1239_Maximum_Length_of_a_Concatenated_String_with_Unique_Characters
src/main/java/matrix/workingPeoplesImitation/task_316_Remove_Duplicate_Letters/
src/main/java/matrix/workingPeoplesImitation/task_337_House_Robber_III/
src/main/java/matrix/workingPeoplesImitation/task_714_Best_Time_to_Buy_and_Sell_Stock_with_Transaction_Fee
src/main/java/matrix/workingPeoplesImitation/task_368_Largest_Divisible_Subset
src/main/java/matrix/workingPeoplesImitation/task_1463_Cherry_Pickup_II
src/main/java/matrix/workingPeoplesImitation/task_399_Evaluate_Division
src/main/java/matrix/workingPeoplesImitation/task_2402_Meeting_Rooms_III
src/main/java/matrix/workingPeoplesImitation/task_2276_Count_Integers_in_Intervals/
src/main/java/matrix/workingPeoplesImitation/task_201_Bitwise_AND_of_Numbers_Range
src/main/java/matrix/workingPeoplesImitation/task_2092_Find_All_People_With_Secret/
src/main/java/matrix/workingPeoplesImitation/task_372_Super_Pow




# Not submit yet
src/main/java/matrix/workingPeoplesImitation/task_746_Min_Cost_Climbing_Stairs
src/main/java/matrix/workingPeoplesImitation/task_2542_Maximum_Subsequence_Score
src/main/java/matrix/workingPeoplesImitation/task_875_Koko_Eating_Bananas
src/main/java/matrix/workingPeoplesImitation/task_136_Single_Number
